html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  font-family: "Gabarito", sans-serif;
}

body {
  height: 100vh;
}

.title {
  font-size: 36px;
  font-weight: 400;
  color: #F9EFDB;
}

.container {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
}

.header-mask {
  background-color: rgba(145, 99, 99, 0.4431372549);
  display: block;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
}

.header {
  background-image: url(../images/bg-header-img.jpg);
  background-size: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  flex: 1 1 360px;
}

.title-row {
  width: 100%;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.2039215686);
  display: flex;
  justify-content: center;
  flex: 1 1 0;
}

.body {
  background-color: #F9EFDB;
  flex: 3 1 400px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

.subtitle {
  margin-top: 2rem;
  margin-bottom: 0.3rem;
  font-size: 20pt;
  font-weight: 400;
}

.legend {
  margin-bottom: 1rem;
  font-size: 14pt;
  text-justify: newspaper, inter-word;
}

.legend-danger {
  margin-bottom: 0.5rem;
  font-size: 10pt;
  font-weight: 100;
  color: #B80000;
}

.form {
  padding: 2rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  box-shadow: 3px 2px 3px 0.3px #e0d8c6;
}

.control-container {
  width: 100%;
  padding: 0.3rem;
  flex: 1 1 360px;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  font-size: 12pt;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  flex: 1 1 200px;
  border: solid 1px #E3E1D9;
  border-radius: 0.2rem;
  transition: box-shadow 0.1s ease-in-out, border 0.1s ease-in-out;
}

.form-control:focus {
  outline: none;
  box-shadow: 0px 0px 2px 0.5px #CEE6F3;
  border: solid 1px #A1CCD1;
}

.btn-submit {
  padding: 0.6rem 4rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
  max-width: -moz-fit-content;
  max-width: fit-content;
  background-color: #c5c76a;
  border-radius: 0.2rem;
  border: none;
  font-size: 12pt;
  font-weight: 600;
  flex: 0 1 0;
}

.btn-submit:hover {
  background-color: #acc457;
}

.btn-submit:active {
  background-color: #ccd371;
}

.error {
  padding: 0.2rem 0;
  height: 1rem;
  color: #ff3636;
  font-size: 12px;
  overflow: hidden;
}

.pad {
  padding: 0 2rem;
}

.hidden {
  display: block;
}/*# sourceMappingURL=styles.css.map */